/** Portfolio style sheet
*/
.container{
    position: absolute;
    display: inline-block;
    padding: 0px 0px 5px 0px;
    height: 900px;
}
body{background-image: url(../images/criss-cross.png);
}
.whitebox {
    background-color: white;
    overflow: auto;
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: 960px;
}
div{
    align-content: center;
    clear: left;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  /* Clear floats after the columns */
.row:after {
    content: “”;
    display: table;
    clear: both;
  }
.textbox{
bottom: 20px;
background-color: #4AAAA5;
width: 100%;
color: white;
}
#paintings{
    padding: 40px;
    height: 250px;
    width: 250px;
    float: left;
}
#airbrush{
    height: 250px;
    width: 250px;
    float: right;
 }
 #pencil{
    height: 250px;
    width: 250px;
    clear: left;
 }
 #3_D{
    height: 250px;
    width: 250px;
    clear: right;
 }
 #teeDesigns{
    height: 250px;
    width: 250px;
    clear: left;
 }